/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */

:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--white-text-color: #ffffff;
	--accent-color: #2196F3;
	--secondary-background-color: #F5F4FA;
}

/* Обнуление */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ---------------- */

body {
	background-color: var(--white-text-color);
	color: var(--secondary-text-color);
	font-size: 14px;
}

/* section */

.section-title {
	font-size: 36px;
	color: var(--primary-text-color);
}

/* header */

.logo {
	color: #000000;
}

.logo>span {
	color: var(--accent-color);
}

.site-nav .link {
	color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.auht-nav .link {
	color: var(--secondary-text-color);
}

.auht-nav .link:hover,
.auht-nav .link:focus {
	color: var(--accent-color);
}

.auht-nav .icon:hover,
.auht-nav .icon:focus {
	color: var(--accent-color);
}

/* hero */

.hero-title {
	font-size: 44px;
}

/* .hero-button {
	padding: 10px 32px;
	font-size: 16px;
	color: #ffffff;
	background-color: #2196f3;
	border-radius: 4px;
} */

/* Особенности (section_2) */

.features-list .img {
	background-color: var(--secondary-background-color);
	border-radius: 4px;
}

.features-list .title {
	color: var(--primary-text-color);
}